## From Goofy to Loopy

In [1]:
""" This code shows the sum of the integers between 1 and 10. """

sum = 0 # Initialize a counter to 0

for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    sum = sum + i # update the sum

print(sum) # show the sum

55

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [4]:
range(1, 6)

range(1, 6)

In [5]:
""" This code shows the sum of the integers between 1 and 10. """

sum = 0 # Initialize a counter to 0

for i in range(1, 11):
    sum = sum + i # update the sum

print(sum) # show the sum

55

In [6]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
mylist = [1, 2, 3]

In [9]:
""" Takes a list of numbers shows the sum
    of the items in that list. """

sum = 0

for number in mylist:
    sum = sum + number

print(sum)

6

In [10]:
L = [42, 5, 7, 42, 6]
X = 42

In [11]:
""" Takes a list and an item, and shows the number
    of times that the item is found in the list. """

counter = 0

for item in L:
    if item == X:
        counter = counter + 1

print(counter)

2

In [12]:
""" Takes a list and an item, and shows the number
    of times that the item is found in the list. """

counter = 0

for i in range(0, len(L)):
    if L[i] == X:
        counter = counter + 1

print(counter)

2

## While Loops

In [13]:
n = 20

In [14]:
""" Takes a number n and shows the smallest power
    of 2 that is greater than or equal to n."""

power = 1 # 1 is the smallest power of 2
while power < n:
    power = power * 2

print(power)

32

In [15]:
## List Comprehension

In [16]:
mynumbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
""" Creates the squares of the numbers in a list """
squares = []

for number in mynumbers:
    squares.append(number * number)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
[number * number for number in mynumbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
[number * number for number in mynumbers if number < 6]

[1, 4, 9, 16, 25]